services:
  db:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      POSTGRES_DB: merchants
    ports:
      - "5432:5432"
  rust-spike:
    container_name: rust-spike
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
    - "8080:8080"
    environment:
      - ROLE=Admin