services:
 dynamodb-local:
   command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
   image: "amazon/dynamodb-local:latest"
   container_name: dynamodb-local
   ports:
     - "8000:8000"
   volumes:
     - "./docker/dynamodb:/home/dynamodblocal/data"
   working_dir: /home/dynamodblocal
   healthcheck:
    test: ["CMD-SHELL", '[ "$(curl -s -o /dev/null -I -w ''%{http_code}'' http://localhost:8000)" == "400" ]']
    interval: 10s
    timeout: 10s
    retries: 10
#  rust-spike:
#   container_name: rust-spike
#   build:
#     context: .
#     dockerfile: Dockerfile
#   depends_on:
#     - dynamodb-local
#   ports:
#   - "8080:8080"
#   environment:
#     AWS_ACCESS_KEY_ID: 'DUMMYIDEXAMPLE'
#     AWS_SECRET_ACCESS_KEY: 'DUMMYEXAMPLEKEY'
#     AWS_REGION: 'eu-west-1'